:root {
    --border-radius: 10px;
}

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

strong {
    font-weight: bolder;
}

code {
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: var(--border-radius);
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

textarea {
    font-family: inherit !important;
    font-weight: normal !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-gray);
    margin: 1em auto;
    padding: 0;
    width: 90%;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

footer {
    background: #212529;
}

.bg-cover {
    background-size: cover !important;
}

.bg-dark-opacity {
    background-color: rgba(0, 0, 0, .5);
}

.vh-50 {
    min-height: 50vh !important;
}

.vh-90 {
    min-height: 90vh !important;
}

.post-preview h2 {
    transition: all .1s;
}
.post-preview:hover h2 {
    color: #0d6efd;
}

.dropdown-toggle::after {
    border: 0;
}

.mt-10 {
    margin-top: 10rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.date {
    font-size: 11px
}

.comment-text {
    font-size: 14px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff;
    text-transform: capitalize;
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

/*
    default color :  114, 137, 218 (rgb)
    light : 172, 176, 255
*/

/* Global classes */

.regularText {
    color: var(--color-fast-white);
}

.lightText {
    color: rgb(136, 150, 160);
}

.coloredText {
    color: var(--color-purple) !important;
}

.subcolor {
    color: rgb(142, 157, 170);
}

.greeny {
    color: #43b581;
}

.darky {
    color: #2C2F33;
}

.dark {
    color: #23272A;
}

.light
{
    font-weight: lighter;
}

.lightTyFooter {
    color: #8e9daa;
}

.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase !important;
}

img {
    -webkit-user-drag: none;
    /*pointer-events: none;*/
}

@-moz-document url-prefix() {
    html{
        scrollbar-width: none;
    }
}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}